stages:
  - lint
  - compile
  - test
  - deploy

lint:
  stage: lint
  script: mvn checkstyle:check -Dcheckstyle.config.location=google_checks.xml -Dcheckstyle.violationSeverity=warning

compile:
  stage: compile
  script: mvn compile

test:
  stage: test
  script: mvn test

deploy:
  stage: deploy
  script:
    - mvn package
    - dpl --provider=heroku --app=rrr2417-simplewebapp --api-key=89a5744d-e5a0-4d44-8572-85f61cfcdb17
  only:
    - master
