stages:
  - compile
  - test
  - deploy

compile:
  stage: compile
  script: mvn compile

test:
  stage: test
  script: mvn test

deploy:
  stage: deploy
  script:
    - killall -q java
    - mvn package
    - export PORT=5000
    - sh target/bin/simplewebapp
