language: java
jdk: oraclejdk9

before_install:
  - |
    sudo apt-get install -y -q --allow-unauthenticated \
      pandoc \
      texlive-base \
      texlive-latex-base \
      texlive-fonts-recommended

stages:
  - lint
  - compile
  - test
  - name: deploy
    if: branch = master

jobs:
  include:
    - stage: lint
      script: mvn checkstyle:check -Dcheckstyle.config.location=google_checks.xml -Dcheckstyle.violationSeverity=warning
    - stage: compile
      script: mvn compile
    - stage: test
      script: mvn test
    - stage: deploy
      script: mvn package
      deploy: &heroku
        provider: heroku
        app: rrr2417-simplewebapp
        api_key: 89a5744d-e5a0-4d44-8572-85f61cfcdb17
